<div class = "consultation_div">

<div class = "consultation_title_div"> 
    <h1 class = "consultation_title"> Request a consultation </h1> 
 </div> 

<div> 
   <h2 class = "consultation_instruction"> Please fill out the form and submit it to us. We will get back to you promptly </h2>
 </div>  

 <div class = "consultation_request_div">
<%= form_for [@client, @consultation] do |f| %>

   <%= fields_for @client do |ff| %> 

       <div class= "input_div"> 
           <%= ff.label :first_name, :class=> "input_title" %>
           <%= ff.text_field :first_name, :class=> "input_box" %>
       </div> 
   
       <div class= "input_div"> 
            <%= ff.label :last_name, :class=> "input_title" %>
            <%= ff.text_field :last_name, :class=> "input_box" %>
       </div>
         

       <div class= "input_div"> 
           <%= ff.label :email, :class=> "input_title" %>
           <%= ff.text_field :email, :class=> "input_box input_box_email" %>
       </div> 

       <div class= "input_div"> 
           <%= ff.label :phone, :class=> "input_title" %>
           <%= ff.text_field :phone, :class=> "input_box input_box_phone" %> 
       </div> 
       

    <% end %>

   <div class = "consulation_input_div"> 
       <%= f.label :consultation_request, :class=> "input_title" %>
       <%= f.text_field :request, :class=> "input_box_consultation_request" %> 
   </div> 

   <%= f.submit "Submit request", :class=> "input_title" %>

<% end %>

</div>