<h1> Request a consultation </h1> 
<h2> Please fill out the form and submit it to us. We will get back to you promptly </h2> 

<%= form_for :consultation, url: consultations_path do |f| %>

    <%= fields_for :client do |ff| %> 
        

        <div> 
            <%= ff.label :first_name %>
            <%= ff.text_field :first_name %>
        </div> 
    
        <div> 
        
             <%= ff.label :last_name %>
            <%= ff.text_field :last_name %>
       
        </div> 

        <div> 
       
            <%= ff.label :email %>
            <%= ff.text_field :email %>
       
        </div> 

        <div> 
      
            <%= ff.label :phone %>
            <%= ff.text_field :phone %> 
        
        </div> 

     <% end %>

    <div> 
        <%= f.label :consultation_request %>
        <%= f.text_field :request %> 
    </div> 

    <%= f.submit "Submit request" %>

<% end %>