<h1> Create a new user </h1> 



<%= form_for @user do |f| %> 

    <div> 
        <%= f.label :email %>
        <%= f.email_field :email %> 
    </div>

    <div> 
        <%= f.label :password %> 
        <%= f.password_field :password %> 
    </div> 

    <div> 
        <%= f.label :password_confirmation %> 
        <%= f.password_field :password_confirmation %> 
    </div> 

    <%= f.submit "Create User" %> 

<% end %> 


<%= link_to "Home page", photos_path %> 

<%= link_to "Admin Login", new_session_path %> 

<%= link_to "Consultation request", new_consultation_path %>

