<h1 class = 'welcome_gallery_statement'> Gallery </h1> 

    <h3 style = "text-align: center;"> Baby Hair </h3> 
<div class = "set_of_pictures "> 
    <div class="card column" style="width: 18rem;">
        <%= image_tag('baby_hair_before.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class = "column" > 
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus malesuada ornare. In aliquam eu purus ut scelerisque. Cras volutpat et mauris at pretium. Suspendisse finibus mattis mauris non pretium. Nulla ligula magna, blandit dictum nisl at, interdum sodales ante. Donec vitae diam mauris. Sed sodales tortor non ligula semper dictum. Donec non elit tincidunt, mollis lectus id, porttitor felis. Donec maximus dapibus nisl, quis hendrerit nunc sollicitudin non. In luctus malesuada nibh quis tristique.</h6>
    </div>
    <div class="card column " style="width: 18rem;">
        <%= image_tag('baby_hair_after.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>

<h3 style = "text-align: center;"> Bald Spots </h3> 
<div class = "set_of_pictures "> 
    <div class="card column " style="width: 18rem;">
        <%= image_tag('bald_spot_before.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class = "column" > 
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus malesuada ornare. In aliquam eu purus ut scelerisque. Cras volutpat et mauris at pretium. Suspendisse finibus mattis mauris non pretium. Nulla ligula magna, blandit dictum nisl at, interdum sodales ante. Donec vitae diam mauris. Sed sodales tortor non ligula semper dictum. Donec non elit tincidunt, mollis lectus id, porttitor felis. Donec maximus dapibus nisl, quis hendrerit nunc sollicitudin non. In luctus malesuada nibh quis tristique.</h6>
    </div>
    <div class="card column" style="width: 18rem;">
        <%= image_tag('bald_spot_after.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>

<h3 style = "text-align: center;"> Adding Grey Hairs For More Natural Look </h3> 
<div class = "set_of_pictures "> 
    <div class="card column" style="width: 18rem;">
        <%= image_tag('add_grey_hair_before.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class = "column" > 
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus malesuada ornare. In aliquam eu purus ut scelerisque. Cras volutpat et mauris at pretium. Suspendisse finibus mattis mauris non pretium. Nulla ligula magna, blandit dictum nisl at, interdum sodales ante. Donec vitae diam mauris. Sed sodales tortor non ligula semper dictum. Donec non elit tincidunt, mollis lectus id, porttitor felis. Donec maximus dapibus nisl, quis hendrerit nunc sollicitudin non. In luctus malesuada nibh quis tristique.</h6>
    </div>
    <div class="card column" style="width: 18rem;">
        <%= image_tag('add_grey_hair_after.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>

<h3 style = "text-align: center;"> Adding Length To The Bottom Of The Wig </h3> 
<div class = "set_of_pictures "> 
    <div class="card column" style="width: 18rem;">
        <%= image_tag('adding_length_to_bottom_before.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class = "column" > 
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus malesuada ornare. In aliquam eu purus ut scelerisque. Cras volutpat et mauris at pretium. Suspendisse finibus mattis mauris non pretium. Nulla ligula magna, blandit dictum nisl at, interdum sodales ante. Donec vitae diam mauris. Sed sodales tortor non ligula semper dictum. Donec non elit tincidunt, mollis lectus id, porttitor felis. Donec maximus dapibus nisl, quis hendrerit nunc sollicitudin non. In luctus malesuada nibh quis tristique.</h6>
    </div>
    <div class="card column" style="width: 18rem;">
        <%= image_tag('adding_length_to_bottom_after.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>

<h3 style = "text-align: center;"> Bang Replacement </h3> 
<div class = "set_of_pictures "> 
    <div class="card column" style="width: 18rem;">
        <%= image_tag('bang_replacement_before.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class = "column" > 
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus malesuada ornare. In aliquam eu purus ut scelerisque. Cras volutpat et mauris at pretium. Suspendisse finibus mattis mauris non pretium. Nulla ligula magna, blandit dictum nisl at, interdum sodales ante. Donec vitae diam mauris. Sed sodales tortor non ligula semper dictum. Donec non elit tincidunt, mollis lectus id, porttitor felis. Donec maximus dapibus nisl, quis hendrerit nunc sollicitudin non. In luctus malesuada nibh quis tristique.</h6>
    </div>
    <div class="card column" style="width: 18rem;">
        <%= image_tag('bang_replacement_after.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>

<h3 style = "text-align: center;"> Skin Top Flattening </h3> 
<div class = "set_of_pictures "> 
    <div class="card column" style="width: 18rem;">
        <%= image_tag('skin_top_flattening_before.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
    <div class = "column" > 
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus malesuada ornare. In aliquam eu purus ut scelerisque. Cras volutpat et mauris at pretium. Suspendisse finibus mattis mauris non pretium. Nulla ligula magna, blandit dictum nisl at, interdum sodales ante. Donec vitae diam mauris. Sed sodales tortor non ligula semper dictum. Donec non elit tincidunt, mollis lectus id, porttitor felis. Donec maximus dapibus nisl, quis hendrerit nunc sollicitudin non. In luctus malesuada nibh quis tristique.</h6>
    </div>
    <div class="card column" style="width: 18rem;">
        <%= image_tag('skin_top_flattening_after.jpeg', :class=> "card-img-top")  %> 
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
</div>