<% if current_user %> 

<% if @awaiting_approval.count > 0 %>

        <% flash.each do |type, msg| %>
            <div>
            <%= msg %>
            </div>
        <% end %>

     <h1> These are the reviews that await your approval and confirmation </h1> 

        <% @awaiting_approval.each do |review| %> 

          
            <h2> Submitted by <%= review.client.first_name %> <%= review.client.last_name %> </h2> 
            <h3> In the review <%= review.client.first_name %> <%= review.client.last_name %> writes that <%= review.review %> </h3> 
     
         
        
            <div>
                    <%= form_for review, url:  review_approvals_path(review), method: :post do |f| %>
                        <%= f.submit "Approve review" %> 
                    <% end %> 
            </div>
        
            <div> 
                 <%= link_to "Delete review", review_path(review), method: :delete, data: {confirm: "Are you you would like to delete this review?" } %>
            </div> 

                        

        <%  end %>  

   <% else %> 

   <p> no reviews to review </p>  

   <% end %> 

   <% else %> 

   <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  
   <% if @approved_reviews.count > 0 %>


     <h3 class = 'reviews_title'> Reviews </h3> 

        <% @approved_reviews.each do |review| %> 

        <div class = ' shadow-lg p-3 mb-5 rounded review_item'> 
            <h4 > "<%= review.review %>" </h4> 
            <br> <br> 
            <h6 class = 'client_name'> <%= review.client.first_name %> <%= review.client.last_name %> </h6> 
        </div> 

        <%  end %> 
        
        <%= form_for :client, url: client_generator_path do |f| %> 

            <div > 
               <%= f.label :email %>
               <%= f.text_field :email %>
           </div>
           
        <%= f.submit "Submit Review"  %>
    
           <% end %> 

   <% else %> 

   <p>  no reviews yet  </p>

        <%= form_for :client, url: client_generator_path do |f| %> 

            <div > 
            <%= f.label :email %>
            <%= f.text_field :email %>
            </div>
        
        <%= f.submit "Submit Review"  %>

   <% end %> 

   <% end %> 

   <% end %> 
   

   

