#put this form into reviews#index page and use an if condition dependent on whether I am the admin or not
<% if current_user %> 

<% if @awaiting_approval.count > 0 %>


     <h1> These are the reviews that await your approval and confirmation </h1> 

        <%= @awaiting_approval.each do |review| %> 

          
            <h2> Submitted by <%= review.client.first_name %> <%= review.client.last_name %> </h2> 
            <h3> In the review <%= review.client.first_name %> <%= review.client.last_name %> writes that <%= review.review %> </h3> 
     
         
        
            <div>
                    <%= form_for review, url:  review_approvals_path(review), method: :post do |f| %>
                        <%= f.submit "Approve review" %> 
                    <% end %> 
            </div>
        
            <div> 
                 <%= link_to "Delete review", review_path(review), method: :delete, data: {confirm: "Are you sure?" } %>
            </div> 

                        

        <%  end %>  

   <% else %> 

   <p> no reviews to review </p> 

   <% end %> 

   <% else %> 

   <% if @approved_reviews.count > 0 %>


     <h1> These are the reviews that have been left by our valued clients </h1> 

        <%= @approved_reviews.each do |review| %> 

          
            <h2> Submitted by <%= review.client.first_name %> <%= review.client.last_name %> </h2> 
            <h3> In the review <%= review.client.first_name %> <%= review.client.last_name %> writes that <%= review.review %> </h3> 

        <%  end %>  

   <% else %> 

   <p>  no reviews yet  </p>

   <% end %> 

   <% end %> 
   

   

