<h1> Submiit a review </h1> 
<h2> Please fill out the form and submit your review. We greatly appreciate all reviews</h2> 

<%= form_for @review do |f| %>

    <div> 
        <%=f.fields_for :client do |f| %> 
        <%= f.label :first_name %>
        <%= f.text :first_name
        <% end %> 
    </div> 

    <div> 
        <%=f.fields_for :client do |f| %> 
        <%= f.label :last_name %>
        <%= f.text :last_name %>
        <% end %> 
    </div> 

    <div> 
        <%=f.fields_for :client do |f| %> 
        <%= f.label :email %>
        <%= f.text :email %>
        <% end %> 
    </div> 

    <div> 
        <%=f.fields_for :client do |f| %> 
        <%= f.label :phone %>
        <%= f.number :phone %> 
        <% end %> 
    </div> 

    <div> 
        <%= f.label :review %>
        <%= f.checkbox :review %> 
    </div> 

    <div> 
        <%= f.label :review %>
        <%= f.text :review, :attr, placeholder: "Please write your review..." %> 
    </div> 

<%= f.submit "Submit review" %>

<% end %>