<h1> Submiit a review </h1> 
<h2> Please fill out the form and submit your review. We greatly appreciate all reviews</h2> 

<%= form_for :review, url: reviews_path do |f| %>

    <%= fields_for :client do |ff| %> 
        

        <div> 
            <%= ff.label :first_name %>
            <%= ff.text_field :first_name %>
        </div> 
    
        <div> 
        
             <%= ff.label :last_name %>
            <%= ff.text_field :last_name %>
       
        </div> 

        <div> 
       
            <%= ff.label :email %>
            <%= ff.text_field :email %>
       
        </div> 

        <div> 
      
            <%= ff.label :phone %>
            <%= ff.number_field :phone %> 
        
        </div> 

     <% end %> 

        <div> 
            <%= f.label :review %>
            <%= f.check_box :review %> 
        </div> 

        <div> 
            <%= f.label :review %>
            <%= f.text_field :review %> 
        </div> 

<%= f.submit "Submit review" %>

<% end %>