<!DOCTYPE html>
<html>
      <head>
        <title>DevWigs</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

<body> 


    <div class = 'item1'>
        <nav class="nav-bar">
                <ul class="navBarUl">

                  <li class="nav-item">
                    <%= link_to "About Us", root_path, :class=> "aboutUs" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to "Gallery", photos_path,  :class=> "nav-link active"  %>
                  </li>

                  <li class="nav-item">
                    <%= link_to "Reviews", reviews_path,  :class=> "nav-link active"  %>
                  </li>

                  <% if current_user %> 
                  <li class="nav-item">
                    <%= link_to "Log out", session_path, method: :delete, :class=> "nav-link active" %>
                  </li>
                  <% end %>

                </ul>
        </nav>
    </div>


    <div class = 'item2'>
      <%= yield %>
    </div>

<div class = 'item3'> 
    <%= form_for :client, url:  clients_path do |f| %>

        <div class="">
          <%= f.label :email, :class=> ""%>
        </div>

        <div> 
          <%= f.text_field :email, :class=> '' %>
        </div>

          <br>

      <%= f.submit "Book consultation", :class=> ''  %>
    <% end %> 
</div>




  
   
   
  </body>

      

       
       
      





 



</html>


      