<!DOCTYPE html>
<html>
      <head>
        <title>DevWigs</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

<body > 
    <div class = 'div'>
        <nav class="nav-bar">
                <ul class="ul">
                  <li class="nav-item">
                    <%= link_to "About Us", root_path, :class=> "nav-link active" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Gallery", photos_path,  :class=> "nav-link active"  %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Reviews", reviews_path,  :class=> "nav-link active"  %>
                  </li>
                  <li class="nav-item"> 
                    <h3 class = 'nav-link'>Dev Wigs</h4>
                  </li>
                  <% if current_user %> 
                  <li class="nav-item">
                    <%= link_to "Log out", session_path, method: :delete, :class=> "nav-link active" %>
                  </li>
                  <% end %>
                </ul>
        </nav>
      </div>

    <%= yield %>


    <%= form_for :client, url:  clients_path do |f| %> 
        <div class="mb-3 consultation_request_form">
          <%= f.label :email, :class=> " label form-label"%>
          <div> 
          <%= f.text_field :email, :class=> 'form-control input_box' %>
          </div> 
          <br> 
      <%= f.submit "Book consultation", :class=> 'btn btn-success consultation_booking_button'  %>
    <% end %> 
        </div>




  
   
   
  </body>

      

       
       
      





 



</html>


      