<!DOCTYPE html>
<html>
      <head>
        <title>DevWigs</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

  <body> 
        <nav class=" navbar navbar-expand-lg navbar-light navigation-bar">
          <div class=" navigation-div container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse direction" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to "About Us", root_path, :class=> "nav-link active" %>
                </li>
                <li class="nav-item">
                <%= link_to "Gallery", photos_path,  :class=> "nav-link active"  %>
                </li>
                <li class="nav-item">
                  <%= link_to "Reviews", reviews_path,  :class=> "nav-link active"  %>
                </li>
                <% if current_user %> 
                <li class="nav-item">
                  <%= link_to "Log out", session_path, method: :delete, :class=> "nav-link active" %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>

    <%= yield %>


    <%= form_for :client, url:  clients_path do |f| %> 
        <div class="mb-3 consultation_request_form">
          <%= f.label :email, :class=> " label form-label"%>
          <div> 
          <%= f.text_field :email, :class=> 'form-control input_box' %>
          </div> 
          <br> 
      <%= f.submit "Book consultation", :class=> 'btn btn-success consultation_booking_button'  %>
    <% end %> 
        </div>




  
   
   
  </body>

      

       
       
      





 



</html>


      