<!DOCTYPE html>
<html>
  <head>
    <title>DevWigs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class = "nav_div" > 
  <nav class= "nav_bar">
    <%= link_to "About Us", root_path, :class=> "link" %>
    <%= link_to "Gallery", photos_path, :class=> "link" %>
    <%= link_to "Reviews", reviews_path, :class=> "link" %>
    <% if current_user %> 
    <%= link_to "Log out", session_path, method: :delete, :class=> "link" %>
    <% end %>
  </nav>
</div>

<div class = "body"> 
  <body >
    <%= yield %>
  </body>
</div> 

      <%= form_for :client, url:  clients_path do |f| %> 

      <div > 
           <%= f.label :email %>
           <%= f.text_field :email %>
       </div>
       
       <%= f.submit "Book consultation"  %>
       
       <% end %> 

       
       
       <%= form_for :client, url: client_generator_path do |f| %> 

        <div > 
           <%= f.label :email %>
           <%= f.text_field :email %>
       </div>
       
       <%= f.submit "Submit Review"  %>

       <% end %> 





 



</html>


      